<%- include("partials/header.ejs") %>

    <body>
        <div class="container h-100">
            <div class="row justify-content-center">
                <div class="col-6">
                    <img src="images/Macro Care Logo.png" class="mx-auto d-block logo" alt="Macro Care Logo">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 rounded-5 py-4 inputSection">
                    <form action="/get-macros" method="POST">
                        <div class="row justify-content-center my-2">
                            <label for="foodInput" class="col-5 p-0 properties">Food:</label>
                            <input type="text" id="foodInput" name="food" class="col-5 rounded-5 values"
                                placeholder="e.g. Chicken Breast, Lettuce,..." required>
                        </div>
                        <div class="row justify-content-center my-2">
                            <label for="varietyInput" class="col-5 p-0 properties">Variety (optional):</label>
                            <input type="text" id="varietyInput" name="variety" class="col-5 rounded-5 values"
                                placeholder="e.g. Boiled, Fried,...">
                        </div>
                        <div class="row justify-content-center my-2">
                            <label for="servingSizeInput" class="col-5 p-0 properties">Serving Size:</label>
                            <input type="text" id="servingSizeInput" name="servingSize" class="col-5 rounded-5 values"
                                placeholder="e.g. 100g, 1kg,..." required>
                        </div>
                        <div class="row justify-content-center my-2">
                            <div class="col-10 text-end pe-0"><input type="submit" value="Submit"
                                    class="rounded-5 px-2 py-1"></div>
                        </div>
                        <div class="row justify-content-center my-2">
                            <div class="col-10 text-center pe-0 text-danger">
                                <%= error? error : "" %> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-6 rounded-5 py-4 outputSection">
                    <div class="row justify-content-center my-2">
                        <div class="col-5">
                            <% if (searchResult)
                                { %>
                                <div class="row retrievedValue">
                                    Food Name: <%= searchResult.foodName %>
                                </div>
                                <div class="row my-4 retrievedValue">
                                    Serving Size: <%= searchResult.macros.serving_weight_grams %>g
                                </div>
                                <div class="row my-4 retrievedValue">
                                    Calories: <%= searchResult.macros.nf_calories %>cal
                                </div>
                                <div class="row my-4 retrievedValue">
                                    Protein: <%= searchResult.macros.nf_protein %>g
                                </div>
                                <div class="row my-4 retrievedValue">
                                    Carbs: <%= searchResult.macros.nf_total_carbohydrate %>g
                                </div>
                                <div class="row retrievedValue">
                                    Fats: <%= searchResult.macros.nf_total_fat %>g
                                </div>
                                <% } %>
                        </div>
                        <div class="col-5">
                            <!-- Use EJS to name the alt -->
                            <img src="<%= searchResult ? searchResult.macros.photo.thumb : '' %>"
                                alt="<%= searchResult ? searchResult.foodName : '' %>" class="img-fluid food-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-6 rounded-5 py-4 outputSection text-center">
                    <label for="dropdown" class="me-3">
                        <h6>High Protein Foods</h6>
                    </label>
                    <select id="dropdown" name="dropdown">
                        <% highProteinFoods.forEach(food=> { %>
                            <option>
                                <%= food.food_name %>
                            </option>
                        <% }) %>
                    </select>
                </div>
            </div>

            <script>
                // When user selects a high protein food from dropdown it automatically fills the food input
                const dropdown = document.getElementById("dropdown");
                transferFoodtoInput();

                function transferFoodtoInput() {
                    document.getElementById("foodInput").value = dropdown.value;
                }

                dropdown.addEventListener("input", () => {
                    transferFoodtoInput();
                });
            </script>



            <%- include("partials/footer.ejs") %>